({
  "player": File (
    path: "entities/player.definition.ron",
  ),
  "whale": File (
    path: "entities/enemies/whale.definition.ron",
  ),
  "basic_enemy": File (
    path: "entities/enemies/basic_enemy.definition.ron",
  ),
})
